*{
    margin: 0;
    padding: 0;
}
/* end frame */
.home
{
    height: 100vh;
    background-color: #f1f1f1;
}
.navbar
{
    background-color:#333 ;
}
.navbar-dark .navbar-nav .nav-link {
    color: #fff;
}
.active
{
    color: #f25454 !important;
}
.navbar-dark .navbar-nav .nav-link:hover {
    color: #f25454 !important;
}
.carousel .slide .carousel-fade {
    height: 100%;
}